@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply text-black;
}

h1, h2, h3, h4, h5, h6, p, a {
  @apply text-black;
}

:root {
  --background: #ffffff;
  --foreground: #170303;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFEDDA;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap");

body {
  font-family: "Comfortaa";
}
